In [0]:

-- Find customers who placed orders above the average order amount.
select c.first_name,
    c.last_name,o.total_amount from customers c join orders o on c.customer_id=o.customer_id where o.total_amount>( 
select avg(total_amount) from orders)

In [0]:
-- List all products that have been sold more than 5 times in total.
select product_name ,sum(quantity) as total
from order_details  group by product_name having sum(quantity)>(select 3)

In [0]:
--  List customers and their total quantity of products ordered.
WITH customer_orders AS (
    SELECT c.customer_id, c.first_name, SUM(od.quantity) AS total_quantity
    FROM customers c
    INNER JOIN orders o ON c.customer_id = o.customer_id
    INNER JOIN order_details od ON o.order_id = od.order_id
    GROUP BY c.customer_id, c.first_name
)

SELECT * FROM customer_orders WHERE total_quantity>3;

In [0]:
--Label customers as 'New' or 'Returning' based on order count.
SELECT c.first_name, COUNT(o.order_id) AS total_orders,
       CASE
           WHEN COUNT(o.order_id) = 1 THEN 'New'
           WHEN COUNT(o.order_id) > 1 THEN 'Returning'
           ELSE 'No Orders'
       END AS customer_type
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.first_name;

In [0]:
-- Extract month of each order & grooup order by month
select month(o.order_date) as order_month,count(o.order_id)as total_orders 
from orders o 
group by month(o.order_date)
 order by order_month

In [0]:
CREATE TABLE custoomers (
    customer_id VARCHAR(10) PRIMARY KEY,
    name VARCHAR(50),
    gender CHAR(1),
    city VARCHAR(50)
);

In [0]:
INSERT INTO custoomers (customer_id, name, gender, city) VALUES
('C001', 'Ravi', 'M', 'Mumbai'),
('C002', 'Priya', 'F', 'Delhi'),
('C003', 'Arjun', 'M', 'Bangalore');

In [0]:
CREATE TABLE saales (
    sale_id INT,
    customer_id VARCHAR(10),
    product VARCHAR(50),
    amount INT,
    sale_date DATE,
    region VARCHAR(20)
);

In [0]:
INSERT INTO saales (sale_id, customer_id, product, amount, sale_date, region) VALUES
(101, 'C001', 'Shoes', 2999, '2023-10-01', 'North'),
(102, 'C002', 'T-Shirt', 999, '2023-10-01', 'West'),
(103, 'C001', 'Watch', 5999, '2023-10-02', 'North'),
(104, 'C003', 'Bag', 1999, '2023-10-03', 'South');

In [0]:
--write a join query  to show customer name,product and region
select c.name,s.product,s.region from custoomers c INNER JOIN saales s on c.customer_id=s.customer_id;

In [0]:
-- count how many products each customer has purchased
select customer_id,count(product) as total_customer_purchase from saales group by customer_id

In [0]:
--get all the female customers whose purchase is greater than  rs 1000
SELECT 
    c.customer_id,
    c.name,
    SUM(s.amount) AS total_amount
FROM custoomers c
JOIN saales s
    ON c.customer_id = s.customer_id
WHERE c.gender = 'F'
GROUP BY c.customer_id, c.name
HAVING SUM(s.amount) > 1000;

In [0]:
-- Identify cities with highest purchase amount
select city,sum(amount) as total_purchase from custoomers c inner join saales s on c.customer_id=s.customer_id group by city order by total_purchase desc limit 1;