In [0]:
%sql
CREATE TABLE customers (
    customer_id INT ,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    city VARCHAR(50),
    email VARCHAR(100)
);

In [0]:
truncate  table customers;

In [0]:
%sql

CREATE TABLE orders (
    order_id INT ,
    customer_id INT,
    order_date DATE,
    total_amount DECIMAL(10, 2)
);

In [0]:
truncate  table orders;

In [0]:
%sql
CREATE TABLE order_details (
    order_detail_id INT ,
    order_id INT,
    customer_id INT,
    product_id INT,
    product_name VARCHAR(100),
    category VARCHAR(50),
    quantity INT,
    price_each DECIMAL(10,2),
    order_date DATE
);

In [0]:
truncate table order_details;

In [0]:
INSERT INTO customers VALUES
(1,'Rahul','Sharma','Mumbai','rahul@gmail.com'),
(2,'Ananya','Iyer','Chennai','ananya@gmail.com'),
(3,'Vikram','Singh','Delhi','vikram@gmail.com'),
(4,'Pooja','Mehta','Pune','pooja@gmail.com'),
(5,'Amit','Verma','Bangalore','amit@gmail.com'),
(6,'Sneha','Rao','Hyderabad','sneha@gmail.com'),
(7,'Karan','Malhotra','Delhi','karan@gmail.com'),
(8,'Neha','Patel','Ahmedabad','neha@gmail.com'),
(9,'Rohit','Kapoor','Mumbai','rohit@gmail.com'),
(10,'Priya','Nair','Kochi','priya@gmail.com');

In [0]:
INSERT INTO orders VALUES
(101,1,'2024-01-05',2500),
(102,1,'2024-02-10',1800),
(103,2,'2024-02-15',3200),
(104,3,'2024-03-01',1500),
(105,4,'2024-03-05',2100),
(106,5,'2024-03-10',4500),
(107,6,'2024-03-15',2800),
(108,7,'2024-03-18',3600),
(109,8,'2024-03-20',1900),
(110,9,'2024-03-22',4200),
(111,10,'2024-03-25',3100),
(112,3,'2024-03-28',1700),
(113,5,'2024-04-01',2300),
(114,6,'2024-04-03',3900),
(115,7,'2024-04-05',2600);

In [0]:
INSERT INTO order_details VALUES
(1,101,1,201,'Mouse','Electronics',1,500,'2024-01-05'),
(2,101,1,202,'Keyboard','Electronics',1,2000,'2024-01-05'),

(3,102,1,203,'Notebook','Stationery',3,600,'2024-02-10'),

(4,103,2,204,'Headphones','Electronics',2,1600,'2024-02-15'),
(5,103,2,205,'USB Cable','Electronics',2,200,'2024-02-15'),

(6,104,3,206,'Water Bottle','Accessories',1,1500,'2024-03-01'),

(7,105,4,207,'Backpack','Accessories',1,2100,'2024-03-05'),

(8,106,5,208,'Monitor','Electronics',1,4500,'2024-03-10'),

(9,107,6,209,'Printer','Electronics',1,2800,'2024-03-15'),

(10,108,7,210,'Smart Watch','Electronics',1,3600,'2024-03-18'),

(11,109,8,211,'Diary','Stationery',2,950,'2024-03-20'),

(12,110,9,212,'Office Chair','Furniture',1,4200,'2024-03-22'),

(13,111,10,213,'Table Lamp','Furniture',1,3100,'2024-03-25'),

(14,112,3,214,'Pen Set','Stationery',5,340,'2024-03-28'),

(15,113,5,215,'Router','Electronics',1,2300,'2024-04-01'),

(16,114,6,216,'Camera','Electronics',1,3900,'2024-04-03'),

(17,115,7,217,'Power Bank','Electronics',2,1300,'2024-04-05'),

(18,115,7,218,'Phone Case','Accessories',2,400,'2024-04-05'),

(19,110,9,219,'Desk Organizer','Furniture',1,1200,'2024-03-22'),

(20,106,5,220,'Webcam','Electronics',1,1500,'2024-03-10'),

(21,108,7,221,'Bluetooth Speaker','Electronics',1,2000,'2024-03-18'),

(22,109,8,222,'Calculator','Stationery',1,1000,'2024-03-20'),

(23,111,10,223,'Wall Clock','Furniture',1,1800,'2024-03-25'),

(24,112,3,224,'Highlighter','Stationery',4,250,'2024-03-28'),

(25,113,5,225,'External HDD','Electronics',1,2300,'2024-04-01'),

(26,114,6,226,'Tripod','Accessories',1,900,'2024-04-03'),

(27,107,6,227,'Ink Cartridge','Electronics',1,900,'2024-03-15'),

(28,102,1,228,'Sticky Notes','Stationery',4,150,'2024-02-10'),

(29,103,2,229,'Laptop Stand','Accessories',1,800,'2024-02-15'),

(30,105,4,230,'Sunglasses','Accessories',1,1200,'2024-03-05');

In [0]:
select * from order_details;

In [0]:

--List all the customer orders with product details (INNER JOIN)
select
    c.first_name,
    c.last_name,
    od.product_name,
    od.quantity
FROM customers c
INNER JOIN order_details od
ON c.customer_id = od.customer_id;

In [0]:
--Full Breakdown : custoemrs,order, product_info

SELECT 
od.order_id, c.first_name, od.product_name, od.quantity, od.price_each

 FROM ORDER_DETAILS as od 
 INNER JOIN  ORDERS as o ON od.order_id=o.order_id
 INNER JOIN CUSTOMERS as c ON o.customer_id=c.customer_id

In [0]:
--show inactive and active customers 
--simple logic is active users keep on ordering and inactive dont keep ordering
SELECT 
c.first_name,c.last_name,o.order_id,o.order_date
 FROM CUSTOMERS as c 
 LEFT JOIN ORDERS o ON c.customer_id=o.customer_id

In [0]:
--Idenify the Customers who has not palced any order and followup with them
SELECT 
c.first_name,c.last_name
 FROM CUSTOMERS as c 
 LEFT JOIN ORDERS as o 
 ON c.customer_id = o.customer_id
 where o.order_id is  null

In [0]:
--show inactive and active customers 
--simple logic is active users keep on ordering and inactive dont keep ordering
SELECT 
c.first_name,c.last_name,o.order_id,o.order_date
 FROM  ORDERS o
 RIGHT JOIN CUSTOMERS  c ON c.customer_id=o.customer_id

In [0]:
CREATE TABLE emp (
    emp_id INT ,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    manager_id INT,
    department VARCHAR(50)
);

In [0]:
INSERT INTO emp VALUES
(1, 'Alice', 'Johnson', NULL, 'Management'),
(2, 'Bob', 'Smith', 1, 'Sales'),
(3, 'Carol', 'Taylor', 1, 'Sales'),
(4, 'David', 'Brown', 2, 'Sales'),
(5, 'Eva', 'Davis', 2, 'Sales'),
(6, 'Frank', 'Miller', 1, 'Engineering'),
(7, 'Grace', 'Wilson', 6, 'Engineering'),
(8, 'Henry', 'Moore', 6, 'Engineering'),
(9, 'Ivy', 'Clark', 3, 'Sales'),
(10, 'Jack', 'Hall', 3, 'Sales');

In [0]:
-- Employee + Their Manager
SELECT distinct e1.first_name AS employee, e2.first_name AS manager, e1.department
FROM emp e1
JOIN emp e2 ON e1.manager_id = e2.emp_id;

In [0]:
--find direct reporting managers count
SELECT e2.first_name AS manager, COUNT(e1.emp_id) AS team_size
FROM emp e1
INNER JOIN emp e2 ON e1.manager_id = e2.emp_id
GROUP BY e2.first_name;

In [0]:

--  Full audit of customers + orders (matched or not).
 SELECT c.first_name, o.order_id, od.product_name
FROM customers c
FULL OUTER JOIN orders o ON c.customer_id = o.customer_id
FULL OUTER JOIN order_details od ON o.order_id = od.order_id;

In [0]:

-- Get list of all unique customer cities + unique product categories.

SELECT DISTINCT city AS item FROM customers
UNION
SELECT DISTINCT category FROM order_details;

In [0]:

-- Get list of all unique customer cities + unique product categories.(WITH DUPLICATES)

SELECT DISTINCT city AS item FROM customers
UNION ALL 
SELECT DISTINCT category FROM order_details;

In [0]:
-- Top 3 Customers by Spend
SELECT 
c.first_name, c.last_name, SUM(od.quantity * od.price_each) AS total_spent
FROM customers c 
INNER JOIN orders o ON c.customer_id = o.customer_id
INNER JOIN Order_details od on o.order_id = od.order_id
GROUP BY c.customer_id,c.first_name, c.last_name
ORDER BY total_spent DESC
LIMIT 3

In [0]:
CREATE TABLE sales (
    sale_id INT PRIMARY KEY,
    customer_id VARCHAR(10),
    product VARCHAR(50),
    amount INT,
    sale_date DATE,
    region VARCHAR(20)
);

In [0]:
INSERT INTO sales VALUES
(101,'C001','Shoes',2999,'2023-10-01','North'),
(102,'C002','T-Shirt',999,'2023-10-01','West'),
(103,'C001','Watch',5999,'2023-10-02','North'),
(104,'C003','Bag',1999,'2023-10-03','South'),
(105,'C004','Shoes',2899,'2023-10-03','East'),
(106,'C005','Jeans',2499,'2023-10-04','West'),
(107,'C002','Shoes',3099,'2023-10-04','West'),
(108,'C006','T-Shirt',899,'2023-10-05','North'),
(109,'C007','Watch',6499,'2023-10-05','South'),
(110,'C003','Jeans',2299,'2023-10-06','South'),
(111,'C008','Bag',2199,'2023-10-06','East'),
(112,'C009','Shoes',3199,'2023-10-07','North'),
(113,'C004','Watch',5799,'2023-10-07','East'),
(114,'C010','T-Shirt',1099,'2023-10-08','West'),
(115,'C001','Jeans',2599,'2023-10-08','North'),
(116,'C011','Bag',1899,'2023-10-09','South'),
(117,'C012','Shoes',2999,'2023-10-09','East'),
(118,'C005','T-Shirt',999,'2023-10-10','West'),
(119,'C006','Watch',6999,'2023-10-10','North'),
(120,'C013','Jeans',2399,'2023-10-11','South'),
(121,'C014','Bag',2099,'2023-10-11','East'),
(122,'C015','Shoes',2799,'2023-10-12','West'),
(123,'C002','Watch',5899,'2023-10-12','West'),
(124,'C016','T-Shirt',899,'2023-10-13','North'),
(125,'C017','Jeans',2699,'2023-10-13','South'),
(126,'C018','Bag',1999,'2023-10-14','East'),
(127,'C019','Shoes',3299,'2023-10-14','North'),
(128,'C020','Watch',6199,'2023-10-15','West'),
(129,'C010','Jeans',2499,'2023-10-15','West'),
(130,'C021','T-Shirt',999,'2023-10-16','South');

In [0]:
-- write a sql query to get the total sales of the region
select region,sum(amount) as total_sales from sales group by region order by total_sales desc;

In [0]:
--retrive all orders ordered on or before 2023-10-02
select sale_id,product,sale_date from sales where sale_date<='2023-10-02';

In [0]:
--find all customers  who made purchase greater than rs 2000
select customer_id,sum(amount) as total_purchase_amt
 from sales
  group by customer_id 
  having sum(amount)>2000;

In [0]:
--write a query to  display the highest single sale amount and its region;
SELECT region, amount
FROM sales
WHERE amount = (
    SELECT MAX(amount)
    FROM sales
);